{% extends 'user/base_user.html' %}
{% load static %}

{% block EXTJS %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'app/user/js/user_login.js' %}"></script>
{% endblock %}


{% block content %}

    <div class="container">

        <form method="post" action="" onsubmit="
        {#return check_input()#}
">
            {% csrf_token %}
            <input type="hidden" name="r_path" value="{{ r_path }}">
            <div class="form-group">
                <label for="exampleInputEmail1">用户</label>
                <input type="text" name="username" class="form-control" placeholder="用户名">
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">密码</label>
                <input id="password" type="password" name="password" class="form-control" placeholder="密码">
            </div>

            <span id="username_info">{{ name_result }}</span>
            <span id="username_info">{{ password_result }}</span>
            <input type="submit" class="btn btn-success btn-block" value="登录">
        </form>
        <p></p>
        <a href="{% url 'user:regist' r_path %} " class="btn btn-success btn-block">注册</a>

    </div>



{% endblock %}
